<html>
	<head>
	<style>
	#head {
    background-repeat: repeat-x;
    width: 100%;
	}
	</style>
	<div id='head'>
		<img src='image-logo.png'>
	</div>		
	</head>

	<body>
	<center>
		<h1>
			Bienvenido a Liberacion
		</h1>
		<h1>
			Pista: Foco es el punto de destino
		</h1>			
		<table table cellspacing="0" cellpadding="0">
			<tr>
			  <td name='espacios'><strong>_____  _____  _____  _____</strong></td>
			</tr>
		</table>
		</center>
	</body>
</html>