<html>
	<head>Inicio del juego</head>
	<body>
		<h1>
			Bienvenido a Liberacion
		</h1>>
		<table table cellspacing="0" cellpadding="0">
			<tr>
			  <td name='espacios'><strong>_____ _____ _____ _____</strong></td>
			</tr>
		</table>
	</body>
</html>