<html>
	<head>
	<style>
	#head {
    background-repeat: repeat-x;
    width: 100%;
	}
	</style>
	<div id='head'>
	<center>
		<img src='image-logo.png'>
		</center>	
	</div>		
	</head>

	<body>
	<center>
		<h1>
			Bienvenido a Liberación
		</h1>
		<h1>
			Se ha dado cuenta que a veces los proyectos en los que trabaja apuntan a muchas cosas a la vez. Eso termina en un desgaste importante para usted y su equipo. En cambio los Equipos Scrum concentran su atencion en un grupo de caracteristicas para desarrollar a la vez. Tienen...
		</h1>			
		<table table cellspacing="0" cellpadding="0">
			<tr>
			  <td name='espacios'><strong>_____  _____  _____  _____</strong></td>
			</tr>
		</table>
		</center>
	</body>
</html>